---
import "../styles/global.css";
import NavBar from "../react/NavBar.tsx";
const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="img/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="text-black dark:text-white bg-white dark:bg-neutral-600">
        <NavBar client:only />
        <slot />
    </body>
</html>
